/vendor/
/deploy/ftp.env
/deploy/docker/.env
/storage/database.sqlite
/storage/schema_cache/
/config/config.php
/node_modules/
frontend/node_modules/
frontend/dist/
*.log
._*
frontend/tsconfig.tsbuildinfo
storage/db.sqlite
storage/backups/
