# Pass Authorization header to PHP (Apache/CGI/FastCGI)
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteCond %{REQUEST_URI} (^|/)api/ [NC]
RewriteRule ^ index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

RewriteRule ^ index.php [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
FallbackResource /index.php
</IfModule>
